@import url(http://fonts.googleapis.com/earlyaccess/hanna.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

* {
	font-family : 'Nanum gothic';
}
thead th {
	background-color : #ef4f84;
	color : white;
	text-align : center;
}